body, html {
  height: 100%;
}

#home {
	background-image: url(Assets/Images/Header.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: 55% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#prelude {
	height: 100%;
}

.event{
	background-color: orange;
	width: 80%;
	height: 20%;
	margin: auto;
}

#gulltown {
	height: 100%;
}