body, html {
  height: 100%;
  background-color: black;
  color: white;
}

p {
	font-size: 1vw;
	font-family: 'Martel', serif;
}


#home {
	background-image: url(Assets/Images/Header.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: 55% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#intro {
	margin: auto;
	background-color: black;
	width: 80%;
	max-width: 750px;
	height: 80%;
	max-height: 400px;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	margin-top: 30px;
	text-align: center;
	color: white;
	padding: 0% 2% 2%;
}

#intro img {
	width: 80%;
	max-width: 600px;
	margin: auto;
}

#intro p {
	font-size: .8vw;
}

.forces {
	height: 100%;
	width: 60%;
	float: left;
	display: inline;
	overflow: hidden;
}


.info {
	height: 100%;
	padding-top: 70px;
	width: 40%;
	float: right;
	position: relative;
}

.info img {
	margin: auto;
	width: 60%;
	max-width: 400px;
	transition: top 1.5s;
	position: absolute;
	top: 30%;
	left: 19%;
}

.content {
	height: auto;
	width: 60%;
	position: relative;
	margin: auto;
	z-index: -999;
	background-color: white;
	opacity: 0.0;
	transition: opacity 1s, top 1.5s;
	top: 10%;
	padding-top: 30%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	text-align: center;
}

.play {
	margin: auto;
	width: 20%;
	max-width: 150px;
	position: absolute;
	background-image: url(Assets/Images/Gold.jpg);
	background-size: 100% auto;
	border: none;
	border-radius: 3px;
	transition: top 1.5s, opacity 1.5s;
	left: 40%;
	top: 47%;
}

.troops {
	margin: auto;
	width: 60%;
	position: relative;
	opacity: 0;
	transition: opacity 1.5s, top 1.5s;
	text-align: center;
	top: 15%;
	color: white;
}

.troop {
	margin: auto;
	border: none;
	border-radius: 3px;
	display: inline-block;
	width: 35px;
	height: 35px;
	background-size: 35px 35px;
}

#gulltown {
	height: 100%;
}

#gullMap {
	float: right;
}

#summerhall {
	height: 100%;
}

#summerMap {
	float: right;
}

#ashford {
	height: 100%;
}

#ashMap {
	float: right;
}

#bells {
	height: 100%;
}

#bellsMap {
	float: left;
}

#trident {
	height: 100%;
}

#tridentMap {
	float: right;
}

#sack {
	height: 100%;
}

#sackMap {
	float: right;
}

#aftermath {
	background-image: url(Assets/Images/Coronation.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: 55% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

#outro {
	margin: auto;
	background-color: white;
	width: 80%;
	max-width: 750px;
	height: 80%;
	max-height: 400px;
	position: absolute;
	margin-top: 20%;
}